In [1]:
import os
# Find the latest version of spark 2.0  from http://www-us.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-2.4.6'
spark_version = 'spark-2.4.7'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

/bin/sh: apt-get: command not found
/bin/sh: apt-get: command not found
/bin/sh: wget: command not found
tar: Error opening archive: Failed to open 'spark-2.4.7-bin-hadoop2.7.tgz'

Exception: Unable to find py4j, your SPARK_HOME may not be configured correctly

In [29]:
!wget https://jdbc.postgresql.org/download/postgresql-42.2.9.jar

--2020-10-11 00:24:02--  https://jdbc.postgresql.org/download/postgresql-42.2.9.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 914037 (893K) [application/java-archive]
Saving to: ‘postgresql-42.2.9.jar.4’

postgresql-42.2.9.j 100%[===================>] 892.61K  4.96MB/s    in 0.2s

2020-10-11 00:24:02 (4.96 MB/s) - ‘postgresql-42.2.9.jar.4’ saved [914037/914037]

In [30]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("CloudETL").config("spark.driver.extraClassPath","/content/postgresql-42.2.9.jar").getOrCreate()

In [31]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url ="https://laurentvh-kickstarter.s3.us-east-2.amazonaws.com/latest_data.csv"
spark.sparkContext.addFile(url)
kick_df = spark.read.csv(SparkFiles.get("latest_data.csv"), sep=",", header=True, inferSchema=True)

# Show DataFrame
kick_df.show()

+----------+-------------+------------+------------------------+-------------------+-------------------+-------+-------------------+-------+----------+----------+------------------+------------+------------+------------------+------------------+----------+------------+------------+--------------+-----------+-------------+
|Unnamed: 0|backers_count|    category|country_displayable_name|         created_at|           deadline|   goal|        launched_at|pledged|staff_pick|     state|       usd_pledged|sub_category|blurb_length|launch_to_deadline|creation_to_launch|launch_day|deadline_day|launch_month|deadline_month|launch_time|deadline_time|
+----------+-------------+------------+------------------------+-------------------+-------------------+-------+-------------------+-------+----------+----------+------------------+------------+------------+------------------+------------------+----------+------------+------------+--------------+-----------+-------------+
|         0|            3|        food|       the United States|2014-08-30 01:10:21|2014-10-02 15:44:07|  400.0|2014-09-02 15:44:07|   15.0|     false|    failed|              15.0| small batch|        28.0|                30|                 3|   Tuesday|    Thursday|   September|       October|    2pm-4pm|      2pm-4pm|
|         1|            6|  technology|      the United Kingdom|2015-02-18 17:15:56|2015-03-20 20:59:26|  200.0|2015-02-18 21:59:26|   28.0|     false|    failed|       43.04176128|    software|        22.0|                29|                 0| Wednesday|      Friday|    February|         March|   8pm-10pm|     8pm-10pm|
|         2|           90| photography|       the United States|2018-07-28 02:07:21|2018-08-27 13:18:38| 2500.0|2018-07-28 13:18:38| 4350.0|     false|successful|            4350.0|  photobooks|        18.0|                30|                 0|  Saturday|      Monday|        July|        August|   12pm-2pm|     12pm-2pm|
|         3|          205| photography|      the United Kingdom|2018-02-10 14:42:07|2018-04-05 06:42:32| 9500.0|2018-03-06 07:42:32|10181.0|     false|successful|    14043.22353781|  photobooks|        19.0|                29|                23|   Tuesday|    Thursday|       March|         April|    6am-8am|      6am-8am|
|         4|           35|         art|       the United States|2012-07-25 23:21:04|2012-09-11 03:59:00| 4000.0|2012-08-27 20:40:13| 4254.0|     false|successful|            4254.0|  public art|        25.0|                14|                32|    Monday|     Tuesday|      August|     September|   8pm-10pm|      2am-4am|
|         6|           38|         art|      the United Kingdom|2019-04-14 13:51:17|2019-05-25 16:10:17|  600.0|2019-04-25 16:10:17| 1536.0|     false|successful|     1987.09937664|    ceramics|        25.0|                30|                11|  Thursday|    Saturday|       April|           May|    4pm-6pm|      4pm-6pm|
|         7|           15|  technology|       the United States|2016-07-18 06:08:13|2016-08-21 17:53:41|50000.0|2016-07-22 17:53:41| 2423.5|     false|    failed|            2423.5|    software|        18.0|                30|                 4|    Friday|      Sunday|        July|        August|    4pm-6pm|      4pm-6pm|
|         8|           69| photography|                  France|2017-06-13 20:27:22|2017-07-19 17:11:18| 2250.0|2017-06-19 17:11:18| 2720.0|     false|successful|3045.5715968000004|  photobooks|        26.0|                30|                 5|    Monday|   Wednesday|        June|          July|    4pm-6pm|      4pm-6pm|
|         9|            3| photography|       the United States|2015-05-01 13:37:20|2015-05-31 17:59:21| 2800.0|2015-05-01 17:59:21|  102.0|     false|    failed|             102.0|      nature|        28.0|                30|                 0|    Friday|      Sunday|         May|           May|    4pm-6pm|      4pm-6pm|
|        11|            2|     fashion|                  Canada|2017-10-22 22:37:29|2017-12-07 17:09:47| 6000.0|2017-10-23 16:09:47|  245.0|     false|    failed|       194.0400392|    footwear|        19.0|                45|                 0|    Monday|    Thursday|     October|      December|    4pm-6pm|      4pm-6pm|
|        12|          305|film & video|      the United Kingdom|2016-02-08 15:55:58|2016-06-08 08:56:54|75000.0|2016-05-09 08:56:54|77616.0|      true|successful|   111996.92927808|      comedy|        18.0|                30|                90|    Monday|   Wednesday|         May|          June|   8am-10am|     8am-10am|
|        13|          192|       music|       the United States|2019-01-12 23:53:52|2019-02-27 15:54:56|15000.0|2019-01-28 15:54:56|15360.0|     false|successful|           15360.0|        none|        22.0|                30|                15|    Monday|   Wednesday|     January|      February|    2pm-4pm|      2pm-4pm|
|        14|            2|        food|       the United States|2018-05-12 17:14:10|2018-06-17 21:17:50|25000.0|2018-05-18 21:17:50|   31.0|     false|    failed|              31.0|   cookbooks|        20.0|                30|                 6|    Friday|      Sunday|         May|          June|   8pm-10pm|     8pm-10pm|
|        15|           69|  publishing|       the United States|2019-11-27 03:33:10|2020-01-01 15:47:53| 1600.0|2019-12-02 15:47:53|6770.11|     false|successful|           6770.11|  nonfiction|        18.0|                30|                 5|    Monday|   Wednesday|    December|       January|    2pm-4pm|      2pm-4pm|
|        16|            1|        food|                 Germany|2016-10-25 18:41:28|2016-11-25 11:06:01| 7500.0|2016-10-26 10:06:01|    1.0|     false|    failed|         1.0879617|   cookbooks|        24.0|                30|                 0| Wednesday|      Friday|     October|      November|  10am-12pm|    10am-12pm|
|        17|           40|  journalism|                  France|2019-03-11 10:05:17|2019-05-15 10:00:00| 2500.0|2019-03-19 09:28:28| 2733.0|     false|successful|     3097.94399454|       audio|        19.0|                57|                 7|   Tuesday|   Wednesday|       March|           May|   8am-10am|    10am-12pm|
|        18|           13|        food|       the United States|2015-09-01 04:00:17|2015-10-22 23:49:42|10000.0|2015-09-22 23:49:42| 1100.0|     false|    failed|            1100.0| small batch|        18.0|                30|                21|   Tuesday|    Thursday|   September|       October|  10pm-12am|    10pm-12am|
|        19|            2|  publishing|      the United Kingdom|2016-04-16 12:10:23|2016-05-18 20:16:37|  700.0|2016-04-18 20:16:37|    2.0|     false|    failed|         2.8404088|   art books|        18.0|                30|                 2|    Monday|   Wednesday|       April|           May|   8pm-10pm|     8pm-10pm|
|        20|           85|  publishing|       the United States|2015-07-10 02:40:16|2015-11-01 05:35:19| 4000.0|2015-09-22 05:35:19| 5815.0|      true|successful|            5815.0|   art books|        19.0|                40|                74|   Tuesday|      Sunday|   September|      November|    4am-6am|      4am-6am|
|        21|            2|        food|                 Germany|2019-11-18 14:58:26|2020-01-15 17:00:00| 2500.0|2019-11-24 17:44:07|   21.0|     false|    failed|       23.14472958|   cookbooks|        20.0|                51|                 6|    Sunday|   Wednesday|    November|       January|    4pm-6pm|      4pm-6pm|
+----------+-------------+------------+------------------------+-------------------+-------------------+-------+-------------------+-------+----------+----------+------------------+------------+------------+------------------+------------------+----------+------------+------------+--------------+-----------+-------------+
only showing top 20 rows

In [32]:
kick_df.dtypes

[('Unnamed: 0', 'int'),
 ('backers_count', 'int'),
 ('category', 'string'),
 ('country_displayable_name', 'string'),
 ('created_at', 'timestamp'),
 ('deadline', 'timestamp'),
 ('goal', 'double'),
 ('launched_at', 'timestamp'),
 ('pledged', 'double'),
 ('staff_pick', 'boolean'),
 ('state', 'string'),
 ('usd_pledged', 'double'),
 ('sub_category', 'string'),
 ('blurb_length', 'double'),
 ('launch_to_deadline', 'int'),
 ('creation_to_launch', 'int'),
 ('launch_day', 'string'),
 ('deadline_day', 'string'),
 ('launch_month', 'string'),
 ('deadline_month', 'string'),
 ('launch_time', 'string'),
 ('deadline_time', 'string')]

In [33]:
# Split into two tables
kick_launch_df = kick_df.select(["Unnamed: 0","country_displayable_name", "launched_at", "launch_to_deadline", "creation_to_launch","launch_day","deadline_day","launch_month","deadline_month","launch_time","deadline_time"])
kick_launch_df.show()

+------------------------+-------------------+------------------+------------------+----------+------------+------------+--------------+-----------+-------------+
|country_displayable_name|        launched_at|launch_to_deadline|creation_to_launch|launch_day|deadline_day|launch_month|deadline_month|launch_time|deadline_time|
+------------------------+-------------------+------------------+------------------+----------+------------+------------+--------------+-----------+-------------+
|       the United States|2014-09-02 15:44:07|                30|                 3|   Tuesday|    Thursday|   September|       October|    2pm-4pm|      2pm-4pm|
|      the United Kingdom|2015-02-18 21:59:26|                29|                 0| Wednesday|      Friday|    February|         March|   8pm-10pm|     8pm-10pm|
|       the United States|2018-07-28 13:18:38|                30|                 0|  Saturday|      Monday|        July|        August|   12pm-2pm|     12pm-2pm|
|      the United Kingdom|2018-03-06 07:42:32|                29|                23|   Tuesday|    Thursday|       March|         April|    6am-8am|      6am-8am|
|       the United States|2012-08-27 20:40:13|                14|                32|    Monday|     Tuesday|      August|     September|   8pm-10pm|      2am-4am|
|      the United Kingdom|2019-04-25 16:10:17|                30|                11|  Thursday|    Saturday|       April|           May|    4pm-6pm|      4pm-6pm|
|       the United States|2016-07-22 17:53:41|                30|                 4|    Friday|      Sunday|        July|        August|    4pm-6pm|      4pm-6pm|
|                  France|2017-06-19 17:11:18|                30|                 5|    Monday|   Wednesday|        June|          July|    4pm-6pm|      4pm-6pm|
|       the United States|2015-05-01 17:59:21|                30|                 0|    Friday|      Sunday|         May|           May|    4pm-6pm|      4pm-6pm|
|                  Canada|2017-10-23 16:09:47|                45|                 0|    Monday|    Thursday|     October|      December|    4pm-6pm|      4pm-6pm|
|      the United Kingdom|2016-05-09 08:56:54|                30|                90|    Monday|   Wednesday|         May|          June|   8am-10am|     8am-10am|
|       the United States|2019-01-28 15:54:56|                30|                15|    Monday|   Wednesday|     January|      February|    2pm-4pm|      2pm-4pm|
|       the United States|2018-05-18 21:17:50|                30|                 6|    Friday|      Sunday|         May|          June|   8pm-10pm|     8pm-10pm|
|       the United States|2019-12-02 15:47:53|                30|                 5|    Monday|   Wednesday|    December|       January|    2pm-4pm|      2pm-4pm|
|                 Germany|2016-10-26 10:06:01|                30|                 0| Wednesday|      Friday|     October|      November|  10am-12pm|    10am-12pm|
|                  France|2019-03-19 09:28:28|                57|                 7|   Tuesday|   Wednesday|       March|           May|   8am-10am|    10am-12pm|
|       the United States|2015-09-22 23:49:42|                30|                21|   Tuesday|    Thursday|   September|       October|  10pm-12am|    10pm-12am|
|      the United Kingdom|2016-04-18 20:16:37|                30|                 2|    Monday|   Wednesday|       April|           May|   8pm-10pm|     8pm-10pm|
|       the United States|2015-09-22 05:35:19|                40|                74|   Tuesday|      Sunday|   September|      November|    4am-6am|      4am-6am|
|                 Germany|2019-11-24 17:44:07|                51|                 6|    Sunday|   Wednesday|    November|       January|    4pm-6pm|      4pm-6pm|
+------------------------+-------------------+------------------+------------------+----------+------------+------------+--------------+-----------+-------------+
only showing top 20 rows

In [34]:
kick_pledge_df = kick_df.select(["Unnamed: 0","backers_count", "category", "created_at","deadline","goal","pledged","staff_pick","state","usd_pledged","sub_category","blurb_length"])
kick_pledge_df.show()

+------------------------+-------------+------------+-------------------+-------------------+-------+-------+----------+----------+------------------+------------+------------+
|country_displayable_name|backers_count|    category|         created_at|           deadline|   goal|pledged|staff_pick|     state|       usd_pledged|sub_category|blurb_length|
+------------------------+-------------+------------+-------------------+-------------------+-------+-------+----------+----------+------------------+------------+------------+
|       the United States|            3|        food|2014-08-30 01:10:21|2014-10-02 15:44:07|  400.0|   15.0|     false|    failed|              15.0| small batch|        28.0|
|      the United Kingdom|            6|  technology|2015-02-18 17:15:56|2015-03-20 20:59:26|  200.0|   28.0|     false|    failed|       43.04176128|    software|        22.0|
|       the United States|           90| photography|2018-07-28 02:07:21|2018-08-27 13:18:38| 2500.0| 4350.0|     false|successful|            4350.0|  photobooks|        18.0|
|      the United Kingdom|          205| photography|2018-02-10 14:42:07|2018-04-05 06:42:32| 9500.0|10181.0|     false|successful|    14043.22353781|  photobooks|        19.0|
|       the United States|           35|         art|2012-07-25 23:21:04|2012-09-11 03:59:00| 4000.0| 4254.0|     false|successful|            4254.0|  public art|        25.0|
|      the United Kingdom|           38|         art|2019-04-14 13:51:17|2019-05-25 16:10:17|  600.0| 1536.0|     false|successful|     1987.09937664|    ceramics|        25.0|
|       the United States|           15|  technology|2016-07-18 06:08:13|2016-08-21 17:53:41|50000.0| 2423.5|     false|    failed|            2423.5|    software|        18.0|
|                  France|           69| photography|2017-06-13 20:27:22|2017-07-19 17:11:18| 2250.0| 2720.0|     false|successful|3045.5715968000004|  photobooks|        26.0|
|       the United States|            3| photography|2015-05-01 13:37:20|2015-05-31 17:59:21| 2800.0|  102.0|     false|    failed|             102.0|      nature|        28.0|
|                  Canada|            2|     fashion|2017-10-22 22:37:29|2017-12-07 17:09:47| 6000.0|  245.0|     false|    failed|       194.0400392|    footwear|        19.0|
|      the United Kingdom|          305|film & video|2016-02-08 15:55:58|2016-06-08 08:56:54|75000.0|77616.0|      true|successful|   111996.92927808|      comedy|        18.0|
|       the United States|          192|       music|2019-01-12 23:53:52|2019-02-27 15:54:56|15000.0|15360.0|     false|successful|           15360.0|        none|        22.0|
|       the United States|            2|        food|2018-05-12 17:14:10|2018-06-17 21:17:50|25000.0|   31.0|     false|    failed|              31.0|   cookbooks|        20.0|
|       the United States|           69|  publishing|2019-11-27 03:33:10|2020-01-01 15:47:53| 1600.0|6770.11|     false|successful|           6770.11|  nonfiction|        18.0|
|                 Germany|            1|        food|2016-10-25 18:41:28|2016-11-25 11:06:01| 7500.0|    1.0|     false|    failed|         1.0879617|   cookbooks|        24.0|
|                  France|           40|  journalism|2019-03-11 10:05:17|2019-05-15 10:00:00| 2500.0| 2733.0|     false|successful|     3097.94399454|       audio|        19.0|
|       the United States|           13|        food|2015-09-01 04:00:17|2015-10-22 23:49:42|10000.0| 1100.0|     false|    failed|            1100.0| small batch|        18.0|
|      the United Kingdom|            2|  publishing|2016-04-16 12:10:23|2016-05-18 20:16:37|  700.0|    2.0|     false|    failed|         2.8404088|   art books|        18.0|
|       the United States|           85|  publishing|2015-07-10 02:40:16|2015-11-01 05:35:19| 4000.0| 5815.0|      true|successful|            5815.0|   art books|        19.0|
|                 Germany|            2|        food|2019-11-18 14:58:26|2020-01-15 17:00:00| 2500.0|   21.0|     false|    failed|       23.14472958|   cookbooks|        20.0|
+------------------------+-------------+------------+-------------------+-------------------+-------+-------+----------+----------+------------------+------------+------------+
only showing top 20 rows

In [35]:
# Steps to get our transformed raw data into RDS
# Configure settings for RDS
mode = "append"
jdbc_url= "jdbc:postgresql://kickstarter.cp9rrwk96at4.us-east-1.rds.amazonaws.com:5432/postgres"
config = {"user":"postgres",
          "password": "Laurent123!",
          "driver":"org.postgresql.Driver"}

In [40]:
# Write DataFrame to active_user table in RDS
kick_pledge_df.write.jdbc(url=jdbc_url, table='kickstarter_pledge', mode=mode, properties=config)

In [41]:
kick_launch_df.write.jdbc(url=jdbc_url, table='kickstarter_launch', mode=mode, properties=config)